

.App-logo {
  animation: App-logo-spin infinite 60s linear;
  height: 80px;
}

.App-header {
  background-color: lavender;
  height: 150px;
  padding: 20px;
  color: mediumaquamarine;
  margin-bottom: 20px;
  text-align: center;
  animation: colors infinite 60s linear;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(3600000deg); }
}

@keyframes colors {
  0% { background: lavender; }
  50% { background-color: orchid; }
  100% { background: lavender; }

}

.avail{
  color: mediumaquamarine;
}

.unavail{
  color: orchid;
}

.searchbar{
  display: block;
}